<!DOCTYPE html>
<html lang="">
    <head>
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-PK67MDD');
        </script>
        <!-- End Google Tag Manager -->
        <meta name="robots" content="index, follow">
        <meta name="robots" content="all">
        <meta name="built" content=""/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
        <meta name="theme-color" content="">
        <meta name="description" content=" ">
        <meta name="keywords" content=" ">
           
        <base href="/">

        <!-- COMMON TAGS -->
        <title>
            
        </title>
        <!-- Search Engine -->
        <meta
        name="image" content="">
        <!-- Schema.org for Google -->
        <meta itemprop="name" content=" ">
        <meta itemprop="description" content=" ">
        <meta
        itemprop="image" content="">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content=" ">
        <meta name="twitter:site" content="">
        <meta name="twitter:creator" content="">
        <meta
        name="twitter:image:src" content="">
        <!-- Open Graph general -->
        <meta name="og:title" content="">
        <meta name="og:description" content=" ">
        <meta name="og:image" content="">
        <meta name="og:url" content="">
        <meta name="og:site_name" content="">
        <meta name="og:locale" content="">
        <meta name="fb:admins" content="">
        <meta name="fb:app_id" content="">
        <meta name="og:type" content="website">
        <link rel="apple-touch-icon" href="">
        <link rel="icon" type="image/png" href=""/>
        <link rel="manifest" href="/manifest.json">
        <script>${index.radbod}</script>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-PK67MDD"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <noscript>
            <a>${ _t('please enable your javascript...') }</a>
        </noscript>

        <progress class="progress loading is-info" data-name="progress"
            value="0" max="100" style="width: 100%;"></progress>

        <app class="section" id="section" style="display:block;"
            data-defaultvalues="model">
            ${index.html}
        </app>
        ${index.js}
    </body>
</html>